<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)">
	<!-- wp:heading {"level":1,"fontSize":"huge"} -->
	<h1 class="wp-block-heading has-huge-font-size">404</h1>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph {"fontSize":"large"} -->
	<p class="has-large-font-size">Страница не найдена</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:paragraph -->
	<p>К сожалению, запрашиваемая страница не существует. Попробуйте вернуться на главную.</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:buttons -->
	<div class="wp-block-buttons">
		<!-- wp:button -->
		<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/">На главную</a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
