<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"theme/hero"} /-->
	<!-- wp:pattern {"slug":"theme/advantages"} /-->
	<!-- wp:pattern {"slug":"theme/about"} /-->
	<!-- wp:pattern {"slug":"theme/speakers"} /-->
	<!-- wp:pattern {"slug":"theme/schedule"} /-->
	<!-- wp:pattern {"slug":"theme/gallery"} /-->
	<!-- wp:pattern {"slug":"theme/faq"} /-->
	<!-- wp:pattern {"slug":"theme/testimonials"} /-->
	<!-- wp:pattern {"slug":"theme/cta"} /-->
	<!-- wp:pattern {"slug":"theme/contacts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
